<%- include("./partials/header.ejs") -%>

<section class="view">
  <a href="/math" class="scale-up-vertical-center">
    <h1>Matemática</h1>
    <img src="public/img/math-logo.png" alt="Logo de matemáticas" />
  </a>
  <a href="/fisics" class="scale-up-horizontal-center">
    <h1>Física</h1>
    <img src="public/img/fisics-logo.png" alt="Logo de física" />
  </a>
  <a href="/science" class="scale-up-vertical-center">
    <h1>Ciencias</h1>
    <img src="public/img/science-logo.png" alt="Logo de ciencias" />
  </a>
  <a href="/socials" class="scale-up-horizontal-center">
    <h1>Sociales</h1>
    <img src="public/img/socials-logo.png" alt="Logo de sociales" />
  </a>
</section>

<%- include("./partials/footer.ejs") -%>
