<%- include("../partials/header.ejs") -%>

<script src="public/js/myAnimations.js"></script>

<h1>Tabla de contenido 游댕</h1>

<header>
  <ul id="tablaDeContenido">
    <li id="primero"">
      <a href="#operaciones-con-fracciones">Operaciones con fracciones</a>
    </li>
    <li id="segundo">
      <a href="#funciones">Funciones</a>
    </li>
    <li id="tercero">
      <a href="#razones-trigonometricas">Razones Trigonom칠tricas</a>
    </li>
    <li id="cuarto">
      <a href="#operaciones-con-numeros-complejos"
        >Operaciones con n칰meros complejos</a>
    </li>
    <li id="quinto">
      <a href="#ley-del-seno-y-del-coseno">Ley del seno y del coseno</a>
    </li>
    <li id="sexto">
      <a href="#medicion-de-angulos">Medici칩n de 치ngulos</a>
    </li>
  </ul>
</header>

<section class="infoWrapper">
  <article id="operaciones-con-fracciones" data-aos="fade-up">
    <h1>Operaciones con fracciones</h1>
    <h2>Suma</h2>
    <img
      src="public/img/math/suma-de-fracciones.png"
      title="Suma de fracciones"
      alt="Imagen de suma de fracciones"
    />
    <h2>Resta</h2>
    <img
      src="public/img/math/resta-de-fracciones.png"
      title="Resta de fracciones"
      alt="Imagen de resta de fracciones"
      loading="lazy"
    />
    <h2>Multiplicaci칩n</h2>
    <p>Usualmente la multiplicaci칩n se realiza de forma directa.</p>
    <img
      src="public/img/math/multiplicacion-de-fracciones.png"
      title="Multiplicaci칩n de fracciones"
      alt="Imagen de multiplicaci칩n de fracciones"
      loading="lazy"
    />
    <h2>Divisi칩n</h2>
    <p>Se realiza de forma cruzada una multiplicaci칩n.</p>
    <img
      src="public/img/math/division-de-fracciones.png"
      title="Divisi칩n de fracciones"
      alt="Imagen de divisi칩n de fracciones"
      loading="lazy"
    />
    <h2>Links</h2>
    <ul class="links">
      <li>
        <a href="https://youtu.be/FRPijN0ie3U" target="_blank" rel="noreferrer"
          >https://youtu.be/FRPijN0ie3U</a
        >
      </li>
      <li>
        <a href="https://youtu.be/YGXURDXHfGI" target="_blank" rel="noreferrer"
          >https://youtu.be/YGXURDXHfGI</a
        >
      </li>
      <li>
        <a
          href="https://www.matematicas18.com/es/tutoriales/aritmetica/fracciones/division-de-fracciones/"
          target="_blank"
          rel="noreferrer"
          >http://bit.ly/3Sk0naz</a>
      </li>
    </ul>
  </article>
  <article id="funciones" data-aos="fade-up">
    <h1>Funciones</h1>
    <p>
      Una funci칩n matem치tica es una regla que asocia a cada elemento de un
      conjunto (llamado dominio) un 칰nico elemento de otro conjunto (llamado
      codominio). En otras palabras, una funci칩n toma un valor de entrada,
      realiza una operaci칩n o transformaci칩n sobre ese valor, y produce un valor
      de salida espec칤fico. La idea fundamental de una funci칩n es que cada
      elemento del dominio tiene una 칰nica correspondencia con un elemento del
      codominio.
    </p>
    <p>
      Por otro lado, una relaci칩n matem치tica es una conexi칩n o asociaci칩n entre
      dos conjuntos. Puede haber varias formas de relacionar los elementos de un
      conjunto con los elementos de otro conjunto, y no necesariamente se
      requiere que sea una correspondencia uno a uno.
    </p>
    <p>
      En resumen, la diferencia clave entre una funci칩n matem치tica y una
      relaci칩n matem치tica radica en la unicidad de las correspondencias. Una
      funci칩n asigna un 칰nico valor de salida a cada valor de entrada, mientras
      que una relaci칩n puede permitir m칰ltiples asociaciones o no requerir una
      asociaci칩n 칰nica para cada elemento del conjunto inicial.
    </p>

    <img
      src="public/img/math/graficas-de-funciones.png"
      alt="Imagen de gr치ficas de funciones"
      id="funcionesImagen"
      title="Gr치ficas de funciones"
      loading="lazy"
    />
    <h2>Links</h2>
    <ul class="links">
      <li>
        <a
          href="https://poe.com/s/H4XbdZrzUQWfNPxsfd7c"
          target="_blank"
          rel="noreferrer"
          >https://poe.com/s/H4XbdZrzUQWfNPxsfd7c</a
        >
      </li>
    </ul>
    <h2>Programa para realizar gr치ficas</h2>
    <ul class="links">
      <li>
        <a href="https://www.geogebra.org/" target="_blank" re="noreferrer"
          >https://www.geogebra.org/</a
        >
      </li>
    </ul>
  </article>
  <article id="razones-trigonometricas" data-aos="fade-up">
    <h1>Razones Trigonom칠tricas</h1>
    <p>
      Las razones trigonom칠tricas son relaciones matem치ticas que se utilizan
      para describir las propiedades y relaciones entre los 치ngulos y los lados
      de un tri치ngulo rect치ngulo. Hay tres razones trigonom칠tricas principales:
      seno, coseno y tangente.
    </p>
    <h2>Seno (sin)</h2>
    <p>
      El seno de un 치ngulo en un tri치ngulo rect치ngulo se define como la longitud
      del cateto opuesto dividido por la longitud de la hipotenusa. En t칠rminos
      m치s simples, es la relaci칩n entre la longitud del lado opuesto al 치ngulo y
      la longitud de la hipotenusa.
    </p>
    <h2>Coseno (cos)</h2>
    <p>
      El coseno de un 치ngulo en un tri치ngulo rect치ngulo se define como la
      longitud del cateto adyacente dividido por la longitud de la hipotenusa.
      En otras palabras, es la relaci칩n entre la longitud del lado adyacente al
      치ngulo y la longitud de la hipotenusa.
    </p>

    <h2>Tangente (tan)</h2>
    <p>
      La tangente de un 치ngulo en un tri치ngulo rect치ngulo se define como la
      longitud del cateto opuesto dividido por la longitud del cateto adyacente.
      En t칠rminos m치s simples, es la relaci칩n entre la longitud del lado opuesto
      al 치ngulo y la longitud del lado adyacente.
    </p>
    <img
      src="public/img/math/definicion-razones-trigonometricas.png"
      alt="Imagen de definici칩n de razones trigonom칠tricas"
      title="Definici칩n de razones trigonom칠tricas"
      loading="lazy"
    />
    <h2>Links</h2>
    <ul class="links">
      <li>
        <a
          href="https://es.calcuworld.com/calculadoras-matematicas/trigonometria/"
          target="_blank"
          rel="noreferrer"
          >https://es.calcuworld.com/calculadoras-matematicas/trigonometria/</a
        >
      </li>
      <li>
        <a href="https://youtu.be/WdfWMMrsCLo" target="_blank" rel="noreferrer"
          >https://youtu.be/WdfWMMrsCLo</a
        >
      </li>
    </ul>
  </article>
  <article id="operaciones-con-numeros-complejos" data-aos="fade-up">
    <h1>Operaciones con n칰meros complejos</h1>
    <p>
      Un n칰mero complejo es un tipo de n칰mero que consta de una parte real y una
      parte imaginaria. Se representa en la forma a + bi, donde "a" es la parte
      real y "b" es la parte imaginaria, y "i" es la unidad imaginaria, que se
      define como la ra칤z cuadrada de -1.
    </p>
    <img
      src="public/img/math/numeros-complejos-estructura.png"
      alt="Imagen de n칰meros complejos estructura"
      title="N칰meros complejos estructura"
      class="segundaImagen"
      loading="lazy"
    />
    <img
      src="public/img/math/numeros-complejos-estructura2.png"
      alt="Otra imagen de n칰meros complejos estructura"
      title="Otra imagen de n칰meros complejos estructura"
      loading="lazy"
    />
    <h2>Operaciones</h2>

    <img
      src="public/img/math/operaciones-con-numeros-complejos.jpg"
      alt="Imagen operaciones con n칰meros complejos"
      title="Operaciones con n칰meros complejos"
      loading="lazy"
    />

    <h2>Plano Complejo</h2>
    <img
      src="public/img/math/plano-numeros-complejos.jpg"
      alt="Imagen del plano complejo"
      title="Plano complejo"
      loading="lazy"
    />
    <img
      src="public/img/math/plano-numeros-complejos2.jpg"
      alt="Otra imagen del plano complejo"
      title="Otra imagen del plano complejo"
      class="segundaImagen"
      loading="lazy"
    />
    <h2>Links</h2>
    <ul class="links">
      <li>
        <a href="https://youtu.be/ygJ6Tvda_Uc" target="_blank" rel="noreferrer"
          >https://youtu.be/ygJ6Tvda_Uc</a
        >
      </li>
      <li>
        <a href="https://youtu.be/5FemcGdN3Xw" target="_blank" rel="noreferrer"
          >https://youtu.be/5FemcGdN3Xw</a
        >
      </li>
      <li>
        <a href="https://youtu.be/f7iOdIaourk" target="_blank" rel="noreferrer"
          >https://youtu.be/f7iOdIaourk</a
        >
      </li>
    </ul>
  </article>
  <article id="medicion-de-angulos" data-aos="fade-up">
    <h1>Medici칩n de 츼ngulos</h1>
    <p>
      Un 치ngulo es la medida de la separaci칩n o apertura entre dos l칤neas que se
      encuentran en un punto com칰n llamado v칠rtice. Los 치ngulos se utilizan para
      describir relaciones de direcci칩n, rotaci칩n y posici칩n en matem치ticas y
      geometr칤a.
    </p>

    <h2>Sexagesimales</h2>
    <p>
      Los grados sexagesimales son una medida angular utilizada en ciertas
      치reas, como la navegaci칩n y la astronom칤a. En este sistema, un c칤rculo
      completo se divide en 360 grados. Cada grado se subdivide en 60 minutos de
      arco (') y cada minuto se subdivide en 60 segundos de arco ("). Por
      ejemplo, un 치ngulo de 45 grados 30 minutos y 20 segundos se escribe como
      45춿 30' 20". Esta es una forma com칰n de representar los 치ngulos en grados.
    </p>
    <img
      src="public/img/math/grados-sexagesimales.jpg"
      alt="Imagen de grados sexagesimales"
      title="Grados sexagesimales"
      loading="lazy"
    />

    <h2>Radianes</h2>
    <p>
      Los radianes son una unidad de medida angular utilizada en matem치ticas y
      f칤sica. Un radi치n se define como el 치ngulo central que subtender치 un arco
      de longitud igual al radio de la circunferencia. En un c칤rculo completo,
      hay 2 (aproximadamente 6.28318) radianes. Los radianes se utilizan
      ampliamente en c치lculos trigonom칠tricos y c치lculo diferencial e integral
      debido a sus propiedades matem치ticas convenientes. A menudo, los 치ngulos
      en radianes se representan utilizando la letra "rad" despu칠s del valor
      num칠rico.
    </p>
    <img
      src="public/img/math/grados-en-radianes.webp"
      alt="Imagen de grados en radianes"
      title="Grados en radianes"
      class="segundaImagen"
      loading="lazy"
    />
    <img
      src="public/img/math/grados-en-radianes2.png"
      alt="Imagen de grados en radianes"
      title="Grados en radianes"
      loading="lazy"
    />
    <h2>Centesimales</h2>
    <p>
      Los grados centesimales, tambi칠n conocidos como grados centesimales o
      grados centesimos, son una medida angular que divide un c칤rculo completo
      en 400 grados. Este sistema es utilizado en algunos contextos t칠cnicos y
      cient칤ficos. A diferencia de los grados sexagesimales, los grados
      centesimales no se subdividen en minutos y segundos. En cambio, un grado
      centesimal se divide en 100 minutos centesimales y cada minuto centesimal
      se divide en 100 segundos centesimales. Por ejemplo, un 치ngulo de 50
      grados centesimales y 25 minutos centesimales se escribe como 50g 25'.
    </p>
    <img
      src="public/img/math/grados-centesimales.png"
      alt="Imagen de grados centesimales"
      title="Grados centesimales"
      loading="lazy"
    />

    <h2>Equivalencia Sexagesimal a Radian</h2>
    <img
      src="public/img/math/equivalencia-sexagesimales-a-radianes.jpg"
      alt="Imagen de equivalencia de sexagesimales a radianes"
      title="Equivalencia de sexagesimales a radianes"
      loading="lazy"
    />

    <h2>Links</h2>
    <ul class="links">
      <li>
        <a href="https://youtu.be/FkVZMksYcHs" target="_blank" rel="noreferrer"
          >https://youtu.be/FkVZMksYcHs</a
        >
      </li>
      <li>
        <a href="https://youtu.be/PKeUzxt-C_k" target="_blank" rel="noreferrer"
          >https://youtu.be/PKeUzxt-C_k</a
        >
      </li>
    </ul>
  </article>
  <article id="ley-del-seno-y-del-coseno" data-aos="fade-up">
    <h1>Ley del seno y del coseno</h1>
    <p>
      La Ley del Seno establece una relaci칩n entre los lados y los 치ngulos de un
      tri치ngulo. Se aplica a tri치ngulos no rect치ngulos, es decir, tri치ngulos que
      no tienen un 치ngulo de 90 grados.
    </p>

    <p>
      Esto significa que si conoces las longitudes de dos lados de un tri치ngulo
      y el 치ngulo opuesto a uno de ellos, puedes usar la Ley del Seno para
      encontrar el valor del 치ngulo opuesto al otro lado, o viceversa. Es una
      herramienta 칰til para resolver tri치ngulos no rect치ngulos cuando se conocen
      algunas de sus medidas.
    </p>
    <img
      src="public/img/math/ley-del-seno.png"
      alt="Imagen de ley del seno"
      title="Ley del seno"
      class="segundaImagen"
      loading="lazy"
    />
    <p>
      La Ley del Coseno tambi칠n establece una relaci칩n entre los lados y los
      치ngulos de un tri치ngulo. Al igual que la Ley del Seno, se aplica a
      tri치ngulos no rect치ngulos.
    </p>
    <p>
      Esta ley te permite encontrar la longitud de un lado desconocido de un
      tri치ngulo no rect치ngulo si conoces las longitudes de los otros dos lados y
      el 치ngulo entre ellos.
    </p>

    <img
      src="public/img/math/ley-del-coseno.webp"
      alt="Imagen de ley del coseno"
      title="Ley del coseno"
      class="segundaImagen"
      loading="lazy"
    />
  </article>
</section>

<%- include("../partials/footer.ejs") -%>
