
  </main>

  <footer>
    <p>
      Copyright ©️ - 2024
    </p>
  </footer>

  <!-- SCRIPTS -->
  <script src="public/js/aos.js"></script>
  <script src="public/js/main.js"></script>

</body>
</html>