<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#4a0d67" />
    <meta name="description" content="Información de materias escolares 2024" />

    <title>🎒 Escuela | EduardYan</title>

    <!-- OPEN GRAPH -->
    <meta property="og:title" content="🎒 Escuela | EduardYan" />
    <meta
      property="og:description"
      content="Información de materias escolares 2024"
    />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="Fotografía de libros" />

    <!-- STYLES -->
    <link rel="stylesheet" href="public/css/nav.css" />
    <link rel="stylesheet" href="public/css/main.css" />
    <link rel="stylesheet" href="public/css/subjects.css" />
    <link rel="stylesheet" href="public/css/responsive.css" />
    <link rel="icon" type="image/jpg" href="public/img/icon.png" />
    <link rel="stylesheet" href="public/css/aos.css" />

    <link rel="canonical" href="https://escuela-2024-vercel-app.com" />

    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />


  </head>
  <body>
    <header class="principalHeader">
      <%- include("./nav.ejs") -%>
    </header>

    <main class="principalContent">

