<a href="/">
  <img src="public/img/escuela-logo.png" alt="Logo de escuela" id="logo" />
</a>

<button id="abrirMenu">
  <i class="fa-solid fa-bars"></i>
</button>

<nav class="nav">
  <button id="cerrarMenu">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <ul>
    <li>
      <a href="/">Principal</a>
    </li>
    <li>
      <a href="/about">Acerca de</a>
    </li>
  </ul>
</nav>
